@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  width: 1160px;
  margin: 0 auto;
  color: rgb(var(--foreground-rgb));
  background: #FAFAFA;
  padding-top: 20px;
}

p {
margin: 0;
padding: 0;}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 116px;
    background: #f7f7f7;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 50%;
    background: #f7f7f7;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #000000;
    width: auto;
    border-radius: 100vh;
  }

  .speech-bubble {
    --bbColor: #C6FF00;
    --bbArrowSize: 22px;
    background: var(--bbColor);
    margin-bottom: var(--bbArrowSize);
    position: relative;
  }

  .speech-bubble::before {
    --width: calc(var(--bbArrowSize) / 2 * 3);
    content: '';
    position: absolute;
    background: var(--bbColor);
    height: var(--bbArrowSize);
    width: var(--width);
    top: calc(100% - 2px);
    left: 50%;
    clip-path: polygon(25% 0, 100% 0, 0% 100%)
  }
}

.DEVBLOCK {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 4px solid red;
  margin-top: 60px;
}