
.fitting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
    gap: 10px;
}

.direction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

